/* Generic styles for the whole page */
.centered{
	text-align:center;
	display:inline-block;
}

fieldset{
	vertical-align:top;
	display:inline-block;
}

/* Styles for the mainforms div */
#mainforms fieldset{
	width:45%;
}
#mainforms{
	text-align:left;
	position:absolute;
	top:20px;
	left:400px;
	width:50%;
}

/* Styles for the auxforms div */
#auxforms{
	text-align:right;
	position:absolute;
	top:0;
	left:0;
	width:400px;
}
