/* Generic styles for the whole page */
body{
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
}

.centered{
	text-align:center;
}

fieldset{
	vertical-align:top;
	display:inline-block;

}

/* Styles for the mainforms div */
.mainforms fieldset{
	width:100px;
	display:inline-block;
}
.mainforms, #results{
	margin-left:240px;
	min-width:150px;
	text-align:center;
	border:1px solid black;
	border-left:none;
	border-radius:0 10px 10px 0;
	background-color:cyan;
	padding:5px 0 5px 15px;
	margin-right:10px;
}
#quizzesandtests{
	width:100%;
}

#quizzes{
	width:100px;
}

#tests{
	width:100px;
}

/* Styles for the auxforms div */
#auxforms{
	text-align:center;
	position:absolute;
	top:0;
	left:0;
	width:250px;
	height:100%;
	background-color:#CFCFBF;
	border-right:2px solid black;
}

/* Styles for the results */
.catResult, #finalGrade{
	text-align:left;
	background-color:cyan;
	width:100px;
	padding:5px;
	margin:5px;
	display:inline-block;
	vertical-align:top;
	outline: 2px solid black;
}
#finalGrade{
	width:auto;
}
.fgLabel{
	width:100px;
	display:inline-block;
}
.catResult h4{
	margin:0;
	text-align:center;
}
.gradeLetter{
	font-size:40px;
	text-align:center;
	font-weight:900;
}
.emphasis, b{
	font-weight:700;
	font-family:'Open Sans', sans-serif;
}
#username{
	font-size:24px;
	text-align:center;
}
p{
	margin:3px 0 3px 0;
}